@media (max-width:992px) {

  .title-band{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
  }

  .logo img{
    width: 100px;
    display: block;
  }
  
  .main-title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title{
    padding-top: 20px;
  }
  
  .project-title{
    font-size: 1rem;
    font-weight: 500;
  }
  
  .subtitle{
    font-size: 0.8rem;
    font-weight: 100;
  }

  img.slider-img{
    height: 30vh;
    object-fit: cover;
    margin: 0 auto;
  }
}