@media (max-width:992px) {

  .toggle-button{
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .navbar-desktop{
    display: none;
  }

  .dropdown-mobile{
    padding-top: 20px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    top: 70px;
    width: 300px;
    background: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 100;
  }

  .title-band{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
  }

  .logo img{
    width: 100px;
    display: block;
  }
  
  .main-title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title{
    padding-top: 20px;
  }
  
  .project-title{
    font-size: 1rem;
    font-weight: 500;
  }
  
  .subtitle{
    font-size: 0.8rem;
    font-weight: 100;
  }

  img.slider-img{
    height: 30vh;
    object-fit: cover;
    margin: 0 auto;
  }
}