nav{
  background-color: #f4f4f4;
  display: grid;
  place-items: center;
  height: 70px;
}

.navbar-full{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.navbar-mobile{
  display: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home ion-icon {
  font-size: 1.1rem;
  transition: transform 0.5s ease;
  padding: 5px;
}

.home-active ion-icon{
  font-size: 1.1rem;
  padding: 5px;
  background-color: #003996;
  color: #fff;
  border-radius: 50%;
}

.home ion-icon:hover {
  background-color: #003996;
  color: #fff;
  border-radius: 50%;
  transform: scale(1.5);
}

.active{
  color: #003996;
  font-weight: 500;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

a.nav-element{
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
}

a.nav-element:hover{
  color: #003996;
}

a.active{
  color: #003996;
}

.galerie {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
}

.galerie .galerie-element{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  border: 0;
  outline: none;
  background: none;
}

ion-icon{
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  border: 0;
  outline: none;
  background: none;
}

.galerie:hover .galerie-element,
.galerie:hover ion-icon
{
  color: #003996;
}

.dropdown-galerie {
  display: none;
  border-radius: 15px;
  background-color: #f4f4f4;
  min-width: 200px;
  position: absolute;
  top: 40px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%) translateY(-20px); /* Move the dropdown up initially */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Specify the properties to animate */
}

.dropdown-galerie-element {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  font-size: 1.1rem;
  text-align: center;
}

.dropdown-galerie-element:hover {
  color: #003996;
}

.dropdown:hover .dropdown-galerie,
.dropdown-galerie:hover {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Move the dropdown down to its original position */
}

