@font-face {
  font-family: 'FoundersGrotesk-regular'; 
  src: url('/font/FoundersGrotesk-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'FoundersGrotesk-semibold';
  src: url('/font/FoundersGrotesk-Semibold.otf') format('opentype'); 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* font-family: 'FoundersGrotesk-regular', Arial,sans-serif; */
  min-height: 100vh;
  background-color: #fff;
}

li{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
}

.red{
  color: #ff0016
}

.blue{
  color: rgb(0, 48, 150);
}

.green{
  color: #20d17f;
}

.dropdown-toggle::after{
  display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    transform: rotate(-90deg);
}
